
{{#each posts as |post| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>
    <span><p><small>Posted by {{post.user.name}} on {{format_date post.date_created}}</small></p></span>
  </div>
  <div class="col-md-7">
    <p>
      {{post.content}}
    </p>
    {{#each post.comments as |comment|}}
    <p><small>
      {{comment.content}}
    </small></p>
    {{/each}}
  </div>
</div>
{{/each}}
