<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
      <p><strong>I AM profile.handlebars</strong></p>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Post:</h3>

    <form class="form new-post-form">
      <div class="form-group">
        <label for="post-title">Post title:</label>
        <input class="form-input" type="text" id="post-title" name="post-title" />
      </div>
      <div class="form-group">
        <label for="post-content">Post contents:</label>
        <textarea class="form-input" id="post-content" name="post-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  {{!-- {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Projects:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}} --}}

  {{#if posts.length}}
  <div class="col-md-6 post-list">
    <h3>Previous Posts:</h3>

    {{#each posts as |post|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/post/{{post.id}}">{{post.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

</div>

 {{!-- <p><strong>I AM profile.handlebars script: ./js/profile.js</strong></p> --}}
 <p><strong>I AM profile.handlebars script: ./js/profile.js</strong></p>

{{!-- <script src="./js/profile.js"></script> --}}
<script src="./js/profile.js"></script>
